@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --color-background: #FAF7F2;
  --color-foreground: #171717;
  --color-genevision-red: #E63946;
}

@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-genevision-red: var(--color-genevision-red);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}